.container {
    max-width: 100vw;
    width: 100%;
    height: 95vh;
    background-image: url('../../../public/hero.jpg');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 8rem;
    flex-direction: column;
    gap: .5rem;
}

.container button {
    background: transparent;
    color: white;
    outline: 0;
    border: 1px solid white;
    padding: .8rem 1.8rem;
    font-size: 18px;
    margin-top: 1.8rem;
    transition: all.2s;
}

.container button:hover {
    background-color: #01B3A7;
    border: 0;
}

 
 
