.container {
    clip-path: polygon(99% 0, 0 0, 100% 100%);
    background-color: #01B3A7;
    position: absolute;
    top: 0;
    right: 0;
    width: 7rem;
    height: 7rem;
    color: #fff;
}
.price {
    position: absolute;
    left: 30%;
    font-size: 20px;
}

.star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: #F2D80C;
}